@{
    ViewBag.Title = "Borðspil.is";
}
@section featured {
    <section>
        <div>
            <hgroup>
                <h1>@ViewBag.Title</h1>
            </hgroup>
            <p>
                Spilaðu frábær borðspil við vini þína og alla hina sem eru á internetinu. 
                Þú getur skoðað leiki hérna fyrir neðan. Skráðu þig inn til að vera með!
            </p>
            <div>
                <ul>
                    <li>@Html.ActionLink("Nýskrá", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
                    <li>@Html.ActionLink("Innskráning", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
                </ul>
            </div>
        </div>
    </section>
    <div>
        @foreach (var item in Model)
        {
            <div class="leikur">
                <a href="@item.gameTypeLink" ><img src="@(item.gameTypeImgUrl)" /></a>
            </div>
        }
    </div>
       
}
