@model IEnumerable<Bordspil.Models.GameType>
@{
    ViewBag.Title = "Borðspil.is";
}
@section featured {
    <section>
        
            <div class="grid_12">
                <h1 class="front-page-header">@ViewBag.Title</h1>
            </div>
            <div class="clear"></div>
            @if (User.Identity.Name == "") {
            <div class="grid_12 new-user-intro">
            <div class="grid_8 alpha">
            <p class="larger-text">
                Spilaðu frábær borðspil við vini þína og alla hina sem eru á internetinu. 
                Þú getur skoðað leiki hérna fyrir neðan. Skráðu þig inn til að vera með!
                        </p>
                    </div>

                    <!--
                TODO:
                NÝSKRÁ button
                INNSKRÁ button
            -->
                    <div class="grid_4 omega">
                        <div class="front-page-button-area">@Html.ActionLink("Nýskrá", "Register", "Users", routeValues: null, htmlAttributes: new { @class = "large-button" })
                            <div class="clear"></div>
                            <p>@Html.ActionLink("Innskráning", "Login", "Users", routeValues: null, htmlAttributes: new { @class = "login-link" })</p>
                        </div>
                    </div>
                    <div class="clear"></div>
                </div>      
            }

                

        <div class="hreinsarinn"></div>
    </section>
    <div class="front-page-game-list">
        @foreach (var item in Model)
        {
            <div class="front-page-game grid_6">
                <a href="@Url.Action("Game", "Game", new { name = item.gameTypeName})"><img src="@item.gameTypeImgUrl" /></a>
            </div>
        }
    </div>

    <div class="hreinsarinn">
    </div>
}
