@model Bordspil.Models.LocalPasswordModel

<p>
    Yður vanhagar um staðvært aðgangsorð fyrir síðu þessa. 
    Bættu við staðværu aðgangsorði svo þér gætuð innskráð yður án víðværs aðgangsorðs.
</p>

@using (Html.BeginForm("Manage", "Users")) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset class="login-input-boxes-single">
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
        </ol>
        <div class="hreinsarinn"></div>
        <input type="submit" value="Staðfesta" class="all-buttons login-register-submit-single" />
    </fieldset>
}
