@model Bordspil.Models.User

@{
    ViewBag.Title = "Details";
}


<fieldset class="display-fieldset">
    <legend class="profile-legend">Prófíll</legend>

    <div class="display-label">
         Notandi
    </div>
    <div class="display-field">
        @Html.DisplayFor(m => m.UserName)
    </div>

    <div class="display-label">
         Stig
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>

    <img src="@Model.ProfilePicUrl" />
</fieldset>

    @if(@Model.UserName.ToString() == @Context.User.Identity.Name.ToString())
    {
        <span class="all-buttons" id="profile-back-button">
        @Html.ActionLink("Breyta stillingum", "Manage", new { id = Model.UserID }) 
        </span>
    }
<span class="all-buttons" id="profile-back-button">
    @Html.ActionLink("Notendalisti", "Index", "Users")
</span>
