@model Bordspil.Models.UserProfile

@{
    ViewBag.Title = "Details";
}


<fieldset class="display-fieldset">
    <legend class="profile-legend">Prófíll</legend>

    <div class="display-label">
         Notandi
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UserName)
    </div>

    <div class="display-label">
         Stig
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Points)
    </div>

    <img src="@Model.ProfilePicUrl" />
</fieldset>
<p class="display-change-submit-button">
    @if(@Model.UserName.ToString() == @Context.User.Identity.Name.ToString())
    {
        @Html.ActionLink("Til baka", "Manage", new { id=Model.UserId }) 
    }
    @*@Html.ActionLink("Aftur á Forsíðu", "Index", "Home")*@
</p>
