@model Bordspil.Models.User

@{
    ViewBag.Title = Html.DisplayFor(m => m.UserName);
}

<div class="grid_2"><img src="@Model.ProfilePicUrl" class="user-detail-image"></div>

<div class="grid_4">
    

    <h1>@Html.DisplayFor(m => m.UserName)</h1>
    <div class="user-detail-item">
        <span class="user-detail-item-label">Stig</span>
        <span class="user-detail-item-value">@Html.DisplayFor(model => model.Points)</span>
        @if(@Model.Points > 100000)
        {
             <img class="user-star" src="~/Images/Retro%20Star.png" />
        }
        @if(@Model.Points > 300000)
        {
             <img class="user-star" src="~/Images/Retro%20Star.png" />
        }
    </div>

    @if(@Model.UserName.ToString() == @HttpContext.Current.User.Identity.Name)
    {
        @Html.ActionLink("Breyta stillingum","Manage", new { id = Model.UserID }, htmlAttributes: new { @class = "all-buttons" }) 
    }

    @Html.ActionLink("Allir notendur", "Index", "Users", null, htmlAttributes: new { @class = "all-buttons" })

</div>
<div class="clear"></div>
