@model Bordspil.Models.User

<script src="~/Scripts/jquery-1.8.2.min.js"></script>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="login-input-boxes-single">
        <legend></legend>
         @Html.HiddenFor(model => model.UserID)
        <ul>
               
            <li>
                @Html.LabelFor(model => model.UserName)
                @Html.EditorFor(model => model.UserName)
                @Html.ValidationMessageFor(model => model.UserName)
            </li>
            <li>
                @Html.LabelFor(model => model.ProfilePicUrl)
                @Html.EditorFor(model => model.ProfilePicUrl)
                @Html.ValidationMessageFor(model => model.ProfilePicUrl)
            </li>
        </ul>

        <p>
            <input type="submit" value="Vista" class="all-buttons login-register-submit-single" />
        </p>
    </fieldset>
}
@Html.ActionLink("Skoða prófíl", "Details")


