@model Bordspil.Models.RegisterExternalLoginModel
@{
    ViewBag.Title = "Register";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Tengja @ViewBag.ProviderDisplayName aðgang</h2>
</hgroup>

@using (Html.BeginForm("ExternalLoginConfirmation", "Users", new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="login-input-boxes-single">
        <legend>LEGEND</legend>
        <p>
            Innskráð/ur með <strong>@ViewBag.ProviderDisplayName</strong>.
            Sláðu inn notandanafn.
        </p>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)

            </li>
            <li>
                @Html.LabelFor(m => m.FullName)
                @Html.TextBoxFor(m => m.FullName)
            </li>
            <li>
                @Html.LabelFor(m => m.Link)
                @Html.TextBoxFor(m => m.Link)
            </li>
        </ol>
        <div class="hreinsarinn"></div>
        @Html.HiddenFor(m => m.ExternalLoginData)
        <input type="submit" value="Skrá" class="all-buttons login-register-submit-single" />
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
