@model IEnumerable<Bordspil.Models.User>
@{
    ViewBag.Title = "Notendalisti";
}

<h2>Listi yfir notendur</h2>

<div>
    @foreach (var item in Model)
    {
        <div class="userlist-user-wrap">
            <a href="@Url.Action("Details", new { id=item.UserID })"><img class="userlist-prof-pic" src="@item.ProfilePicUrl" alt="No Pic" /></a>
            @Html.ActionLink(item.UserName, "Details", new { id=item.UserID })
            <p>@item.Points</p>
            @if(Context.User.IsInRole("admin") && item.UserName != Context.User.Identity.Name)
            {
                @Html.ActionLink("X", "Delete", new {id = item.UserID})
            }
        </div>
    }
    @Context.User.Identity.Name


</div>
<div class="hreinsarinn">

</div>
