@model IEnumerable<Bordspil.Models.User>
@{
    ViewBag.Title = "Notendalisti";
}

<div class="grid_12 title">
    <h1>@ViewBag.Title</h1>
</div>

<div class="clear"></div>

@foreach (var item in Model)
{
    <div class="grid_3 userlist-item">
        <a href="@Url.Action("Details", new { id = item.UserID })">
            <img class="userlist-prof-pic" src="@item.ProfilePicUrl" alt="No Pic" /></a>
        <div class="user-detail-item">
            <span class="user-detail-item-label"> 
                <a href="/Users/Details/@item.UserID">@MyHelpers.ShortenString(item.UserName,17)</a>
            </span>
        </div>
        <div class="user-detail-item">
            <span class="user-detail-item-value">@item.Points stig</span>
        </div>

        @if (@HttpContext.Current.User.IsInRole("admin"))
        {
            <div>
                @Html.ActionLink("Eyða notanda", "Delete", new { id = item.UserID })
            </div>
               
        }
    </div>
}

<div class="hreinsarinn">
</div>
