@model Bordspil.Models.LoginModel

@{
    ViewBag.Title = "Innskrá";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<section class="login-form">
<h2>Skráðu þig inn</h2>
@using (Html.BeginForm(new { ReturnUrl = ViewBag.ReturnUrl })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset class="login-input-boxes">
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
                @Html.ValidationMessageFor(m => m.Password)
            </li>
            <li class="login-rememberme">
                @Html.LabelFor(m => m.RememberMe, new { @class = "checkbox" })
                @Html.CheckBoxFor(m => m.RememberMe)
            </li>
        </ol>
        <div class="hreinsarinn"></div>
        <input type="submit" value="Skrá" class="all-buttons login-register-submit" />
    </fieldset>
    <p id="login-register-option">
        @Html.ActionLink("Nýskrá", "Register") ef þú ert ekki skráður.
    </p>
}
</section>

<section class="social" id="socialLoginForm">
    <h2>Skráðu þig inn gegnum facebook</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>

<div class="hreinsarinn"></div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
