@model Bordspil.Models.LocalPasswordModel
@{
    ViewBag.Title = "Stjórnborðið þitt";
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>

<p class="message-success">@ViewBag.StatusMessage</p>

<p>Þú ert skráð/ur inn sem <strong>@User.Identity.Name</strong>.</p>

@if (ViewBag.HasLocalPassword)
{
    @Html.Partial("_ChangePasswordPartial")
}
else
{ 
    @Html.Partial("_SetPasswordPartial")
}


<section id="manage-external-logins">
    @Html.Action("RemoveExternalLogins")

    <h3>Skráðu þig inn gegnum aðra þjónustu</h3>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
@*TODO: Búa til ViewModel eða eitthvað slíkt*@
@Html.Partial("Edit")
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
