@model Bordspil.Models.RegisterModel
@{
    ViewBag.Title = "Nýskráning";
}

<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>Stofna aðgang</h2>
</hgroup>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend></legend>
        <ol>
            <li>
                @Html.LabelFor(m => m.UserName)
                @Html.TextBoxFor(m => m.UserName)
            </li>
            <li>
                @Html.LabelFor(m => m.Password)
                @Html.PasswordFor(m => m.Password)
            </li>
            <li>
                @Html.LabelFor(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword)
            </li>
            
        </ol>
        <input type="submit" value="Skrá" />
    </fieldset>
}
<section class="social" id="socialLoginForm">
    <h2>Skráðu þig inn gegnum facebook eða Google</h2>
    @Html.Action("ExternalLoginsList", new { ReturnUrl = ViewBag.ReturnUrl })
</section>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
