@model Bordspil.Models.Risk

@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Risk</legend>

        @Html.HiddenFor(model => model.gameID)

        <div class="editor-label">
            @Html.LabelFor(model => model.gameType)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameType)
            @Html.ValidationMessageFor(model => model.gameType)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gameName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameName)
            @Html.ValidationMessageFor(model => model.gameName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gameActive)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameActive)
            @Html.ValidationMessageFor(model => model.gameActive)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.numberOfPlayers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.numberOfPlayers)
            @Html.ValidationMessageFor(model => model.numberOfPlayers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gameWinner)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameWinner)
            @Html.ValidationMessageFor(model => model.gameWinner)
        </div>

        <p>
            <input type="submit" value="Save" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
