<html>
<head lang="is">
	<meta encoding="utf-8">
	<title>@ViewBag.Title - Bordspil.is</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,600,700,300|Kavoon' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" type="text/css" media="all" href="~/Content/css/960.css" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
</head>
<body>

	<div class="navbar">

		<div class="navbar-logo">@Html.ActionLink("Borðspil.is", "Index", "Home")</div>

		<div class="navbar-meta">@Html.Partial("_LoginPartial")</div>

		<!-- Stuff that might have to implement
			
			 <section>
                        <ul>
                            <li>@Html.ActionLink("Heim", "Index", "Home")</li>
                            <li> @Html.Partial("_LoginPartial")</li>
                        </ul>
                    </section>
                    <nav>
                        <ul>
                            <li>@Html.ActionLink("Hafa samband", "Contact", "Home")</li>
                            <li>@Html.ActionLink("Leikir", "Game", "Home")</li>
                        </ul>
                    </nav>

		-->

	</div>
	<!-- /navbar -->
    

	<div class="holder">
        <div class="container_12">
            <div class="navbar-filler"></div>

                <div class="content">

		            @RenderSection("featured", required: false)
                    <section>
                    @RenderBody()
                    </section>

                </div>
        </div><!-- /wrapper -->        
		        <!-- footer is not displayed in-game -->
		        <div class="footer">

			        <p>&copy; @DateTime.Now.Year Whoopshop. Allur réttur áskilinn.

			        @Html.ActionLink("Um borðspil", "About", "Home").</p>

		        </div>
		        <!-- /footer -->



	</div> <!-- /holder -->

    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/jquery.signalR-1.0.1.js"></script>
    @Scripts.Render("~/signalr/hubs")
    @RenderSection("scripts", required: false)
</body>
</html>