@model Bordspil.Models.Game

@{
    ViewBag.Title = "Eyða leik";
}
<div class="grid_6">
    <h2>Eyða</h2>

    <h3>Ertu viss um að þú viljir eyða?</h3>
    <fieldset>
        <legend>Leikur</legend>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.gameName)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.gameName)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.gameActive)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.gameActive)
        </div>

        <div class="display-label">
            @Html.DisplayNameFor(model => model.gamePending)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.gamePending)
        </div>
    </fieldset>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Eyða" />
            |
        @Html.ActionLink("Til baka", "Index")
        </p>
    }
</div>
