@model Bordspil.Models.Game

@{
    ViewBag.Title = @Model.gameName;
}

<h2>@Model.gameName</h2>

<fieldset>
    <legend>Game</legend>
    

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gameName)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gameName)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gameActive)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gameActive)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.gamePending)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gamePending)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.gameID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
@HttpContext.Current.Items.Values
<!-- The chat function was taken from an official ASP.net SignalR tutorial and modified to our needs -->
@if(Request.IsAuthenticated)
{

    
}
