@model Bordspil.Models.GameType

@{
    ViewBag.Title = "NewGameType";
}

<h2>NewGameType</h2>

@using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>GameType</legend>

        <div class="editor-label">
            @Html.LabelFor(model => model.gameTypeName)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameTypeName)
            @Html.ValidationMessageFor(model => model.gameTypeName)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.maxPlayers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.maxPlayers)
            @Html.ValidationMessageFor(model => model.maxPlayers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.minPlayers)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.minPlayers)
            @Html.ValidationMessageFor(model => model.minPlayers)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gameTypeLink)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameTypeLink)
            @Html.ValidationMessageFor(model => model.gameTypeLink)
        </div>

        <div class="editor-label">
            @Html.LabelFor(model => model.gameTypeImgUrl)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.gameTypeImgUrl)
            @Html.ValidationMessageFor(model => model.gameTypeImgUrl)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
